.container {
  display: flex;
}

.sidebarContainer {
  width: 17%;
}

.mainContentWithNavBar {
  width: 83%;
}

.mainContent {
  display: flex;
  height: 92vh;
}

.left {
  width: 30%;
  border: solid 0.1px #ced4da;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
  border: solid 0.1px #ced4da;
  padding: 2rem 2rem 1rem 2rem;
}

.searchMessageInputContainer {
  margin: 0.3rem 0.3rem 0.8rem 0.3rem;
}

.messagesBoxesSection {
  height: 90%;
  overflow-y: scroll;
}

.noResultInfoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
