.container {
  display: flex;
}

.sidebarContainer {
  width: 17%;
}

.mainContent {
  width: 83%;
}

.projectBoxesContainer {
  display: flex;
  flex-wrap: wrap;
}

.projectBoxContainer {
  width: 50%;
}

.noResultInfoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}
